.btn-primary {
  background-color: red;
}
.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}
.col-md-4 {
  height: 50px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
